.linkstyle {
  text-decoration: none;
}

.linkstyle {
  background-color: rgb(61, 27, 27);
  align-items: center;
  color: whitesmoke;
  padding-left: 2px;
  padding-right: 42px;
  font-size: 22px;
}

/* .linkstyle:hover {
  background-color: gray;
  
} */
