.App {
  text-align: left;
  padding: 25px;
  overflow: auto;
}

.logo {
  width: 60px;
  height: 60px;
  float: left;
  display: table;
  align-content: flex-start;
}

.App-header {
  background-color: #f1f1f1;
  height: 5%;
  padding-left: 2%;
}

.brandName {
  font-size: 4em;
  display: table;
  font-family: "sans-serif";
  margin-left: 10px;
}

.signUp-container {
  /*background-color: #f1f1f1;;*/
  padding: 5%;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
  text-align: left;
  overflow: auto;
}

/* Left and right column */
.column.leftside {
  width: 70%;
}

.column.rightside {
  width: 25%;
}

.footer {
  width: 100%;
  text-align: left;
  padding-top: 369px;
  font-size: smaller;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
/*@media screen and (max-width: 800px) {
  .column.side,
  .column.middle {
    width: 100%;
  }
}
*/
.addingmore {
  padding: 0.5rem 0.5rem;
  margin-bottom: 0rem;
}

body {
  font-family: "Arial";
  padding: 10px;
  background: #f1f1f1;
}

.leftcolumn {
  float: left;
  width: 100%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  background-color: #f1f1f1;
  padding-left: 20px;
}

.tank {
  fill: white;
  stroke: black;
  stroke-width: 10;
  opacity: 0.7;
}

.water {
  fill: blue;
  stroke: white;
  stroke-width: 0;
  opacity: 0.5;
}

.line1 {
  fill: blue;
  stroke: black;
  stroke-width: 10;
  opacity: 0.8;
}

.line2 {
  fill: green;
  stroke: green;
  stroke-width: 10;
  opacity: 0.8;
}

.flleft {
  float: left;
}

.heavy {
  font: bold 25px Arial;
}

.heavy2 {
  font: 20px Arial;
}

.line3 {
  fill: Red;
  stroke: red;
  stroke-width: 10;
  opacity: 0.8;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  position: inherit;
  text-align: left;
}

.card1 {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  position: inherit;
  text-align: left;
  float: left;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
  }
}
